/HololensAssistant/*.db
/HololensAssistant/.vs
/HololensAssistant/Debug
/HololensAssistant/ipch
/HololensAssistant/HololensAssistant/Debug
/HololensAssistant/WindowsAssistant/Debug
/Source/.vs
/Source/HolographicDrone/bin
/Source/HolographicDrone/obj
/HolographicsAssistant/Platform/HolographicsAssistant_Hololens/.vs
/HolographicsAssistant/Platform/HolographicsAssistant_Hololens/HolographicsAssistant_Hololens/bin
/HolographicsAssistant/Platform/HolographicsAssistant_Hololens/HolographicsAssistant_Hololens/obj
/HolographicsAssistant/Platform/HolographicsAssistant_Desktop/.vs
/HolographicsAssistant/Platform/HolographicsAssistant_Desktop/HolographicsAssistant_Desktop/obj
/HolographicsAssistant/Platform/HolographicsAssistant_Desktop/HolographicsAssistant_Desktop/bin
/HolographicsDrone/Platform/HolographicsDrone_Hololens/HolographicsDrone_Hololens/obj
/HolographicsDrone/Platform/HolographicsDrone_Hololens/HolographicsDrone_Hololens/bin
/HolographicsDrone/Platform/HolographicsDrone_Desktop/.vs
/HolographicsDrone/Platform/HolographicsDrone_Desktop/HolographicsDrone_Desktop/obj
/HolographicsDrone/Platform/HolographicsDrone_Desktop/HolographicsDrone_Desktop/bin
